{{$user := getJSON "https://api.github.com/users/" (index .Params 0)}}

<div class="credit">
    <a href="{{if $user.blog}}{{$user.blog}}{{else}}{{$user.html_url}}{{end}}"><img src="{{$user.avatar_url}}&s=80" alt="{{$user.name}}"></a>
    <span class="attribution">Tip from <a href="{{if $user.blog}}{{$user.blog}}{{else}}{{$user.html_url}}{{end}}">{{if $user.name}}{{$user.name}}{{else}}{{$user.login}}{{end}}</a>. Thanks!</span>
    <p>If you've got a tip you'd like to see here, <a href="{{relref . "submit.md"}}">submit it</a>.</p>
</div>
